.page {
  --button-primary-hover: var(--dark-green)
  --button-secondary-hover: var(--light-brown);
  --button-secondary-border: var(--light-brown);

  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--background);
}

.main {
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  padding: 120px 60px;
  text-align: center;
}

.h1 {
  letter-spacing: 0.5em;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  display: flex;
  justify-content: center;
}

.navList li {
  display: inline-flex;
  align-items: center;
}

.navList li a {
  display: block;
  color: var(--nav-active-color);
  text-align: center;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  transition: 0.3s;
  font-size: large;
  border-radius: 30px;
}

.navList li a:hover {
  background-color: var(--nav-hover-color);
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}
